@charset "UTF-8";
@font-face {
  font-family: "SFProDisplay-Regular", sans-serif;
  src: url("../fonts/SFProDisplay-Regular.woff2") format("woff2"), url("../fonts/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Medium", sans-serif;
  src: url("../fonts/SFProDisplay-Medium.woff2") format("woff2"), url("../fonts/SFProDisplay-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Semibold", sans-serif;
  src: url("../fonts/SFProDisplay-Semibold.woff2") format("woff2"), url("../fonts/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "SFProDisplay-Bold", sans-serif;
  src: url("../fonts/SFProDisplay-Bold.woff2") format("woff2"), url("../fonts/SFProDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-family: "SFProDisplay-Regular", sans-serif;
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: #2f3035;
  overflow-x: hidden;
  min-width: 320px;
}

.container {
  max-width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

.page-section {
  margin-bottom: 80px;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.header__top-inner {
  font-family: "SFProDisplay-Bold", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 122px;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__address {
  width: 265px;
  margin-right: 60px;
  padding-left: 30px;
  position: relative;
}

.header__address::before {
  content: "";
  position: absolute;
  background-image: url("../images/address-icon.svg");
  width: 30px;
  height: 30px;
  top: -10px;
  left: 0;
}

.header__bottom {
  margin-bottom: 80px;
}

.menu__item {
  display: inline-block;
}

.menu__item + .menu__item {
  margin-left: 50px;
}

.user-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 15px;
}

.user-list__item {
  padding-right: 10px;
}

.basket {
  position: relative;
}

.basket__num {
  position: absolute;
  right: -14px;
  bottom: -5px;
  font-family: "SFProDisplay-Medium", sans-serif;
  font-weight: 500;
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  color: #fff;
  background-color: #1c62cd;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.menu-categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f0f4;
  padding-top: 15px;
  padding-bottom: 14px;
}

.menu-categories__item {
  position: relative;
}

.menu-categories__link {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-categories__link::before {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  right: 0;
  left: auto;
  bottom: -16px;
  background-color: #1c62cd;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.menu-categories__link:hover {
  color: #000;
}

.menu-categories__link:hover::before {
  width: 100%;
  right: auto;
  left: 0;
}

.menu__btn {
  display: none;
}

.menu__mobile-linewrapper {
  display: none;
}

.banner-section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.banner-section__slider {
  max-width: 870px;
}

.banner-section__slider-img {
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 400px;
}

.banner-section__slider-btnprev {
  left: 20px;
}

.banner-section__slider-btnnext {
  right: 20px;
}

.banner-section__slider-btn,
.product-slider__slider-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  z-index: 5;
}

.slick-dots {
  position: absolute;
  right: 0;
  bottom: 40px;
  left: 0;
  text-align: center;
}

.slick-dots li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.slick-dots button {
  font-size: 0;
  padding: 0;
  margin: 0;
  width: 11px;
  height: 11px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-color: transparent;
}

.slick-active li button {
  background-color: #fff;
}

.sale-item {
  max-width: 265px;
  text-align: center;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sale-item__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sale-item__info {
  color: #fff;
  background-color: #1c62cd;
  padding: 8px 20px;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.sale-item__price {
  text-align: right;
}

.sale-item__price .price {
  font-family: "Barlow", sans-serif;
  position: relative;
}

.sale-item__price-new {
  font-size: 27px;
  line-height: 32px;
  font-weight: 700;
  color: #1c62cd;
  margin-right: 6px;
  padding-right: 20px;
  position: relative;
}

.sale-item__price-new::after {
  content: "";
  background-image: url("../images/icon-price.svg");
  position: absolute;
  top: 7px;
  right: 0;
  width: 15px;
  height: 18px;
}

.sale-item__price-old {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
  margin-right: 15px;
  padding: 2px 5px;
  background-image: url("../images/old-line.svg");
  background-repeat: no-repeat;
}

.sale-item__price-old::after {
  content: "";
  background-image: url("../images/icon-price-old.svg");
  position: absolute;
  top: 3px;
  right: -10px;
  width: 8px;
  height: 10px;
}

.sale-item__img {
  -o-object-fit: contain;
     object-fit: contain;
}

.sale-item__title {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 7px;
}

.sale-item__footer {
  font-size: 18px;
  line-height: 21px;
  background-color: #f0f0f4;
  padding: 25px 20px;
}

.sale-item__footer span {
  display: block;
  font-family: "Barlow", sans-serif;
  font-weight: 700;
  color: #1c62cd;
}

.search__tabs {
  margin-bottom: 25px;
}

.search__tabs-item {
  padding: 11px 26px 12px;
}

.search__tabs-item.tab--active {
  background-color: #f0f0f4;
  border-radius: 5px;
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 700;
}

.search__content-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.search__content-input {
  width: 100%;
  line-height: 19px;
  font-size: 16px;
  background-color: #f0f0f4;
  border-radius: 3px;
  padding: 15px 20px;
  border: none;
}

.search__content-input::-webkit-input-placeholder {
  color: #656464;
}

.search__content-input:-ms-input-placeholder {
  color: #656464;
}

.search__content-input::-ms-input-placeholder {
  color: #656464;
}

.search__content-input::placeholder {
  color: #656464;
}

.search__content-btn {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;
  background-color: #1c62cd;
  border-radius: 3px;
  padding: 17px 40px;
  border: none;
  margin-left: -5px;
}

.tabs-content {
  display: none;
}

.tabs-content.tabs-content--active {
  display: block;
}

.categories__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.categories__item {
  width: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  padding: 20px 20px 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.categories__item:hover {
  -webkit-box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
          box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.categories__item-info {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories__item-title {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: bold;
  font-size: 23px;
  line-height: 28px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.categories__item:hover .categories__item-title {
  color: #1c62cd;
}

.categories__item-text {
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
}

.categories__item-text::after {
  content: url("../images/link-arrow.png");
  padding-left: 4px;
}

.categories__item-img {
  text-align: center;
  width: 50%;
}

.categories__item-img img {
  max-width: 100%;
}

.products__title {
  font-family: "Barlow", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 25px;
}

.products__tabs {
  margin-bottom: 25px;
}

.products__tab {
  padding-bottom: 10px;
}

.products__tab.tab--active {
  border-bottom: 2px solid #1c62cd;
}

.products__tab + .products__tab {
  margin-left: 50px;
}

.product-item__wrapper {
  position: relative;
  width: 271px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product-item__wrapper--list {
  width: 100%;
}

.product-item {
  width: 100%;
  border: 1px solid #cdcdcd;
  border-radius: 3px;
  text-align: center;
  padding: 52px 20px 31px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  min-height: 407px;
}

.product-item:hover {
  color: #1c62cd;
  -webkit-box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
          box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.product-item__title {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  padding: 14px 0 25px;
}

.product-item__price {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
}

.product-item__favorite {
  position: absolute;
  top: 16px;
  right: 19px;
  width: 24px;
  height: 22px;
  background-color: transparent;
  border: none;
  outline: none;
  z-index: 5;
  background-image: url("../images/favorite.svg");
}

.product-item__favorite--active {
  background-image: url("../images/favorite-active.svg");
}

.product-item__basket {
  width: 60px;
  height: 40px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #1c62cd;
  border: none;
  outline: none;
  padding: 10px 16px 7px;
  border-radius: 10px 0px 0px 0px;
}

.product-item__hover-text {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 18px 20px;
  position: absolute;
  top: 30%;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.product-item:hover .product-item__hover-text {
  opacity: 1;
  color: #2f3035;
}

.product-item__notify-text {
  display: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.product-item:hover .product-item__notify-text {
  color: #2f3035;
}

.product-item__notify-link {
  display: none;
}

.product-item--sale::before {
  content: "sale";
  padding: 8px 15px;
  background-color: #1c62cd;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  color: #fff;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
}

.product-item__wrapper.product-item__not-avialable .product-item__price {
  display: none;
}

.product-item__wrapper.product-item__not-avialable .product-item__notify-text {
  display: block;
}

.product-item__wrapper.product-item__not-avialable .product-item__basket {
  display: none;
}

.product-item__wrapper.product-item__not-avialable .product-item__title {
  padding-bottom: 13px;
}

.product-item__wrapper.product-item__not-avialable .product-item__notify-link {
  display: block;
  font-size: 16px;
  line-height: 19px;
  position: absolute;
  right: 0;
  bottom: 25px;
  left: 0;
  color: #1c62cd;
  text-align: center;
}

.product-item__wrapper.product-item__not-avialable
.product-item__notify-link
span {
  border-bottom: 1px solid #1c62cd;
}

.product-slider__slider-btnprev {
  left: -40px;
}

.product-slider__slider-btnnext {
  right: -40px;
}

.slick-slider img {
  display: inline;
}

.product__more {
  text-align: center;
  margin: 35px 0;
}

.product__item-link {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  background-color: #F0F0F4;
  padding: 17px 43px 15px;
}

.footer {
  background-color: #f0f0f4;
}

.footer__top {
  padding-top: 43px;
}

.footer__top-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__top-item {
  width: 200px;
}

.footer__top-newslatter {
  width: 295px;
  margin-right: 10px;
}

.footer__top-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.footer__bottom {
  padding: 46px 0 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__bottom-link {
  font-size: 12px;
  line-height: 12px;
  color: #48494d;
  margin: 0 40px;
}

.footer__top-social {
  width: 250px;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 34px;
}

.footer-form__input {
  font-size: 14px;
  line-height: 17px;
  background-color: #fff;
  padding: 8px 12px;
  border: none;
}

.footer-form__input::-webkit-input-placeholder {
  color: #c4c4c4;
}

.footer-form__input:-ms-input-placeholder {
  color: #c4c4c4;
}

.footer-form__input::-ms-input-placeholder {
  color: #c4c4c4;
}

.footer-form__input::placeholder {
  color: #c4c4c4;
}

.footer-form__btn {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  background-color: #1c62cd;
  color: #fff;
  padding: 10px 16px 9px;
  border: none;
  outline: none;
}

.footer-list__item {
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
}

.social-list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-list__item:not(:first-child) {
  margin-left: 30px;
}

.breadcrumbs {
  margin-bottom: 40px;
}

.breadcrumbs__list-item {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  color: #c4c4c4;
  padding-right: 16px;
  margin-right: 10px;
  position: relative;
}

.breadcrumbs__list-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 4px;
  background-image: url("../images/link-arrow.png");
  width: 6px;
  height: 9px;
}

.catalog {
  margin-bottom: 100px;
}

.catalog__tile {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 26px;
}

.catalog__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.catalog__filter-items button {
  font-size: 14px;
  line-height: 17px;
  opacity: 0.7;
  border-radius: 3px;
  padding: 5px 22px;
}

.catalog__filter-items button + button {
  margin-left: 8px;
}

.catalog__filter-btn button {
  background-color: transparent;
  padding: 0;
}

.catalog__filter-btn button + button {
  margin-left: 10px;
}

.catalog__filter-btn-grid {
  width: 26px;
  height: 21px;
}

.catalog__filter-btn-line {
  width: 26px;
  height: 21px;
}

.catalog__filter-buttons {
  opacity: 0.4;
}

.catalog__filter-buttons--active {
  opacity: 1;
}

.catalog__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog__inner-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__inner-list .product-item__wrapper {
  margin-bottom: 30px;
}

.select-item {
  border: 1.5px solid #D7D9DF;
  padding: 8px 10px 7px 20px;
  margin-right: 34px;
}

.select-item .jq-selectbox__select-text {
  font-size: 14px;
  line-height: 17px;
  margin-right: 14px;
}

.product-item__img {
  max-width: 100%;
}

.pagination {
  width: 100%;
  margin-top: 70px;
}

.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination-list__item {
  padding: 6px 12px;
  border: 2px solid transparent;
  margin: 0 4px;
  font-size: 18px;
  line-height: 22px;
  color: #c4c4c4;
}

.pagination-list__item.active {
  border: 2px solid #1c62cd;
  color: #1c62cd;
}

.aside-filter {
  min-width: 290px;
  margin-right: 10px;
}

.aside-filter__tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.aside-filter__tab {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  width: 50%;
  color: #c4c4c4;
}

.aside-filter__tab.tab--active {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: bold;
  color: #2f3035;
}

.aside-filter__tab.tab--active span {
  display: inline-block;
  border-bottom: 2px solid #1c62cd;
  padding-bottom: 7px;
}

.aside-filter__item-drop {
  margin: 40px 0;
}

.aside-filter__item-title {
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding-left: 26px;
}

.aside-filter__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.aside-filter__content-box {
  width: 50%;
  margin-bottom: 10px;
}

.aside-filter__content-label {
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.aside-filter__content.aside-filter__content-radio {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.aside-filter__item-list {
  margin: 46px 0 40px;
}

.aside-filter__item-btn {
  text-align: center;
}

.filter__item-drop {
  position: relative;
  cursor: pointer;
}

.filter__item-drop::before {
  content: "";
  background-image: url("../images/arrow-down.svg");
  position: absolute;
  left: 0;
  bottom: 5px;
  width: 12px;
  height: 8px;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.filter__item-drop--active::before {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.filter__item-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #c4c4c4;
  padding-top: 34px;
}

.filter__item-list-title {
  font-family: "SFProDisplay-Semibold", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  padding-bottom: 14px;
  padding-left: 26px;
}

.filter__more {
  width: 100%;
  margin-top: 10px;
}

.filter__more-btn {
  font-size: 14px;
  line-height: 17px;
  color: #1c62cd;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #1c62cd;
  padding: 0;
}

.filter__search {
  width: 100%;
  border: 1px solid #e0e0e0;
  height: 30px;
  padding: 7px 20px 8px;
  margin-bottom: 20px;
}

.filter__search::-webkit-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  color: #bdbec2;
}

.filter__search:-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  color: #bdbec2;
}

.filter__search::-ms-input-placeholder {
  font-size: 12px;
  line-height: 14px;
  color: #bdbec2;
}

.filter__search::placeholder {
  font-size: 12px;
  line-height: 14px;
  color: #bdbec2;
}

.filter-btn__send {
  font-size: 15px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #bdbec2;
  padding: 16px 85px;
  margin-bottom: 15px;
}

.filter-btn__send--active {
  background-color: #1c62cd;
  color: #fff;
}

.filter-extra {
  font-size: 13px;
  line-height: 16px;
  position: relative;
  padding-right: 29px;
  margin-bottom: 15px;
  display: inline-block;
}

.filter-extra::after {
  content: "";
  position: absolute;
  top: 5px;
  right: 0;
  background-image: url("../images/arrow-down.svg");
  width: 12px;
  height: 8px;
}

.filter-extra__content {
  display: none;
}

.filter-extra.filter__item-drop--active::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.filter-btn__reset {
  font-size: 13px;
  line-height: 16px;
  display: inline-block;
  border-bottom: 1px solid #c4c4c4;
  color: #c4c4c4;
  background-color: transparent;
}

.btn-checked .aside-filter__content {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.btn-checked .aside-filter__content-box {
  width: auto;
}

.btn-checked .aside-filter__content-label {
  position: relative;
  height: 25px;
  width: 63px;
}

.btn-checked .jq-checkbox {
  height: 25px;
  width: 63px;
  background-color: #f0f0f4;
  border: none;
}

.btn-checked .jq-checkbox.checked {
  background: #1c62cd;
  color: #fff;
}

.btn-checked .jq-checkbox.checked .jq-checkbox__div {
  display: none;
}

.btn-checked__text {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.07em;
  color: #c4c4c4;
  position: absolute;
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-57%);
          transform: translateX(-57%);
  z-index: 100;
}

.btn-checked .jq-checkbox.checked ~ .btn-checked__text {
  color: #fff;
}

.jq-selectbox__select {
  font-family: "Barlow", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #48494d;
  height: 20px;
  padding: 0 25px 0 10px;
  border-radius: 0;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-shadow: none;
  border: none;
}

.jq-selectbox__trigger {
  background-image: url(../images/arrow-down.svg);
  top: 6px;
  right: 9px;
  width: 12px;
  height: 8px;
  border-left: none;
}

.jq-selectbox__trigger-arrow {
  position: absolute;
  top: 14px;
  right: 12px;
  width: 0;
  height: 0;
  border: none;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: none;
}

.jq-selectbox__select:hover,
.jq-selectbox__select:active {
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.jq-selectbox li {
  color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox__dropdown {
  border-radius: 0;
  padding-top: 15px;
}

.jq-selectbox li:hover {
  background: rgba(107, 126, 172, 0.05);
  color: rgba(0, 0, 0, 0.6);
}

.jq-selectbox li.selected {
  background: rgba(107, 126, 172, 0.05);
  color: rgba(0, 0, 0, 0.6);
}

.jq-checkbox,
.jq-radio {
  width: 14px;
  height: 14px;
  background: #fff;
  border: 1px solid #c4c4c4;
  border-radius: 1px;
  -webkit-box-shadow: none;
          box-shadow: none;
  vertical-align: -2px;
  margin: 0 8px 0 0;
}

.jq-checkbox.checked,
.jq-radio.checked {
  background-color: #1c62cd;
  border: none;
}

.jq-checkbox.checked .jq-checkbox__div {
  background-image: url("../images/checked.svg");
  width: 8px;
  height: 6px;
  margin: 4px 0 0 3px;
  border-bottom: none;
  border-left: none;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.jq-radio.checked .jq-radio__div {
  width: 10px;
  height: 10px;
  margin: 0;
  border-radius: 0%;
  background: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.irs--flat.irs-with-grid {
  width: 100%;
}

.irs--flat {
  width: 100%;
  margin-top: -15px;
}

.irs--flat .irs-line {
  height: 1px;
  background-color: #e0e0e0;
  border-radius: 0;
}

.irs--flat .irs-bar {
  height: 3px;
  background-color: #1c62cd;
}

.irs--flat .irs-handle {
  width: 8px;
  height: 8px;
  background-color: #1c62cd;
  border-radius: 50%;
}

.irs--flat .irs-handle > i:first-child,
.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: transparent;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
  display: none;
}

.irs--flat .irs-min,
.irs--flat .irs-max {
  font-family: "Barlow", sans-serif;
  top: 60px;
  padding: 0;
  font-size: 14px;
  text-decoration: underline;
  text-shadow: none;
  color: #2f3035;
  background-color: transparent;
  border-radius: 0;
  visibility: visible !important;
  padding-left: 27px;
}

.irs-min::before,
.irs-max::before {
  font-size: 14px;
  line-height: 17px;
  color: #c4c4c4;
  position: absolute;
  left: 0;
}

.irs-min::before {
  content: "от";
}

.irs-max::before {
  content: "до";
}

.product-card {
  margin-bottom: 80px;
}

.product-card__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-card__img-box {
  font-family: "Barlow", sans-serif;
  text-align: center;
  width: 500px;
  padding-top: 64px;
  position: relative;
}

.product-card__img-box::before {
  font-size: 15px;
  line-height: 18px;
  letter-spacing: 0.12em;
  padding: 13px 25px;
  border-radius: 3px;
}

.product-card__price-old {
  background-image: url("../images/old-line.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  font-size: 30px;
  line-height: 44px;
  opacity: 0.6;
  margin-bottom: 10px;
}

.product-card__price-new {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 17px;
}

.product-card__link {
  font-size: 15px;
  line-height: 18px;
  color: #1c62cd;
  border-bottom: 1px solid #1c62cd;
}

.product-card__content {
  width: 570px;
}

.product-card__code {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.6;
  margin-bottom: 22px;
}

.product-card__buttons {
  margin-bottom: 50px;
}

.product-card__buttons a + a {
  margin-left: 25px;
}

.product-card__tab {
  font-size: 20px;
  line-height: 24px;
  opacity: 0.6;
  padding-right: 17px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.product-card__tab + .product-card__tab {
  padding-left: 17px;
}

.product-card__tab.tab--active {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  opacity: 1;
  border-bottom: 2px solid #1c62cd;
}

.product-card__title {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  margin-bottom: 10px;
}

.product-card__list {
  margin-bottom: 20px;
}

.product-card__item {
  font-size: 20px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid rgba(47, 48, 53, 0.1);
  padding: 15px 0 6px;
}

.product-card__item-left {
  padding-right: 15px;
}

.product-card__item-right {
  width: 125px;
}

.product-card__more {
  font-size: 14px;
  line-height: 17px;
  color: #1c62cd;
  border-bottom: 1px solid #1c62cd;
  margin-bottom: 40px;
}

.product-card__btn button {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #fff;
  background-color: #1c62cd;
  padding: 17px 53px 15px;
  border-radius: 3px;
}

.rate {
  vertical-align: middle;
}

.card-tabs {
  margin-bottom: 100px;
}

.card-tabs__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 0;
  background-color: #f0f0f4;
  margin-bottom: 50px;
}

.card-tab {
  font-size: 20px;
  line-height: 24px;
  opacity: 0.6;
}

.card-tab.tab--active {
  border-bottom: 2px solid #1c62cd;
  opacity: 1;
}

.card__top-line {
  margin-bottom: 10px;
}

.card__lable-search {
  font-size: 17px;
  line-height: 20px;
  color: rgba(47, 48, 53, 0.7);
}

.card__input-search {
  background-color: #f0f0f4;
  border-radius: 3px;
  border: none;
  padding: 9px 37px 9px 17px;
  margin-left: 17px;
  margin-right: 100px;
}

.card__lable-pickup {
  font-size: 17px;
  line-height: 20px;
  opacity: 0.7;
  margin-left: 55px;
  color: rgba(47, 48, 53, 0.7);
}

.card__list-item {
  font-size: 16px;
  line-height: 22px;
  color: rgba(47, 48, 53, 0.7);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid rgba(47, 48, 53, 0.1);
  padding: 20px 0;
}

.card__list-address {
  width: 220px;
  margin-right: 80px;
}

.card__list-title {
  font-size: 20px;
  line-height: 24px;
  color: #2f3035;
}

.card__list-workhours {
  width: 157px;
  margin-right: 96px;
}

.card__list-avaialable {
  width: 140px;
  margin-right: 60px;
}

.card__list-num {
  width: 104px;
}

.card__list-btn {
  margin-left: auto;
}

.card__list-btn button {
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.12em;
  color: #ffffff;
  background-color: #1C62CD;
  padding: 9px 40px;
  border-radius: 3px;
}

.workhours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1100px) {
  .menu__item + .menu__item {
    margin-left: 20px;
  }
  .header__address {
    margin-right: 20px;
  }
}

@media (max-width: 968px) {
  .header__bottom {
    display: none;
  }
  .menu__list {
    display: none;
  }
  .menu__mobile-linewrapper {
    display: block;
  }
}

@media (max-width: 640px) {
  .header__address {
    display: none;
  }
}

.menu-mobile {
  width: 243px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  position: absolute;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.menu-mobile__item {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.menu-mobile__item-address {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: bold;
  margin-top: 60px;
  padding-left: 53px;
}

.menu-mobile__link {
  display: block;
  padding-left: 53px;
  padding-top: 36px;
}

.menu-mobile__img {
  position: absolute;
  bottom: 0;
  left: 11px;
}

.menu-mobile--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu__btn {
  display: block;
  background-color: transparent;
  padding: 0;
}

.menu__btn-line {
  width: 34px;
  height: 3px;
  background-color: #2f3035;
  margin: 8px 0;
  border-radius: 3px;
}

.menu__mobile-linewrapper {
  font-family: "SFProDisplay-Bold", sans-serif;
  font-weight: bold;
  background-color: #f0f0f4;
  padding: 15px 0 15px 15px;
  overflow-x: scroll;
}

.menu__mobile-line {
  width: 450px;
}
/*# sourceMappingURL=style.css.map */