@media (max-width: 1200px) {
    .banner-section__slider-img {
        max-width: 600px;
        min-height: 380px;
    }

    .banner-section__inner {
        justify-content: space-around;
    }

    .banner-section__slider {
        max-width: 600px;
    }

    .categories__inner {
        justify-content: space-around;
    }

}

@media (max-width: 1100px) {
    .menu__item + .menu__item {
        margin-left: 20px;
    }

    .header__address {
        margin-right: 20px;
    }
}

@media (max-width: 968px) {
    .header__bottom {
        display: none;
    }

    .menu__btn {
        display: block;
    }

    .menu__list {
        display: none;
    }

    .menu__mobile-linewrapper {
        display: block;
    }

    .banner-section__inner {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 25px;
    }

    .banner-section__slider-item {
        text-align: center;
    }

    .banner-section__slider {
        max-width: 100%;
    }

    .banner-section__slider-img {
        max-width: 100%;
        margin-bottom: 25px;
    }

    .mobile-overflow {
        width: 969px;
    }

    .tabs-wrapper {
        overflow-x: scroll;
    }
}

@media (max-width: 640px) {
    .header__address {
        display: none;
    }

    .banner-section__slider-img {
        min-height: 200px;
    }

    .banner-section .container {
        padding: 0;
    }

    .search__content-form {
        position: relative;
    }

    .search__content-btn {
        background-image: url("../images/search.svg");
        background-repeat: no-repeat;
        width: 24px;
        height: 24px;
        background-color: transparent;
        font-size: 0;
        line-height: 0;
        padding: 17px;
        position: absolute;
        top: 13px;
        right: 8px;
    }

    .search__content-input {
        height: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 440px) {
    .banner-section__slider-img {
        min-height: 164px;
    }

    .categories__item {
        padding: 20px 10px 16px;
    }
}
